In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# importing libraries
import os
import sys
import pandas as pd
import numpy as np

In [ ]:
tweet_jan = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_jan.csv')
tweet_feb = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_feb.csv')
tweet_mar = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_mar.csv')
tweet_apr = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_apr.csv')
tweet_may = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_may.csv')
tweet_jun = pd.read_csv('/content/drive/MyDrive/Twitter/tweet_jun.csv')

UserInNY = pd.read_csv('/content/drive/MyDrive/Twitter/UsersNY.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#df1 = pd.DataFrame(np.random.randint(25, size=(4, 4)),
#                   index=["1", "2", "3", "4"],
#                   columns=["A", "B", "C", "D"])
 
#df2 = pd.DataFrame(np.random.randint(25, size=(6, 4)),
#                   index=["5", "6", "7", "8", "9", "10"],
#                   columns=["A", "B", "C", "D"])

In [ ]:
#print(df1)
#print(df2)

    A   B   C   D
1   0   4  24   0
2   4  19  24  17
3  13   9  10   6
4   1  18   9   6
     A   B   C   D
5    4   7  19   8
6   23  23   1  13
7    4  17  13  20
8   21   0  24  10
9   21   1  15  24
10  16  17   9   8

In [ ]:
#vertical_concat = pd.concat([df1, df2], axis=0)

In [ ]:
#vertical_concat

     A   B   C   D
1    0   4  24   0
2    4  19  24  17
3   13   9  10   6
4    1  18   9   6
5    4   7  19   8
6   23  23   1  13
7    4  17  13  20
8   21   0  24  10
9   21   1  15  24
10  16  17   9   8

In [ ]:
print("shape jan: ", tweet_jan.shape)
print("shape feb: ", tweet_feb.shape)
print("shape mar: ", tweet_mar.shape)
print("shape apr: ", tweet_apr.shape)
print("shape may: ", tweet_may.shape)
print("shape jun: ", tweet_jun.shape)

shape jan:  (807605, 9)
shape feb:  (632938, 9)
shape mar:  (674171, 9)
shape apr:  (644219, 9)
shape may:  (645364, 9)
shape jun:  (645731, 9)

In [ ]:
all_month_tweet = pd.concat([tweet_jan, tweet_feb, tweet_mar, tweet_apr, tweet_may, tweet_jun ], axis=0)

In [ ]:
all_month_tweet.shape

(4050028, 9)

In [ ]:
all_month_tweet.dtypes

tweetUrl           object
date               object
content            object
tweetId           float64
userId             object
mentionedUsers     object
coordinates        object
lat               float64
long              float64
dtype: object

In [ ]:
UserInNY.dtypes

username            object
userId             float64
displayname         object
rawDescription      object
descriptionUrls     object
favouritesCount      int64
listedCount          int64
mediaCount           int64
location            object
dtype: object

In [ ]:
tweet_final = all_month_tweet.loc[all_month_tweet['userId'].isin(UserInNY['userId'])]
tweet_final.shape

(1928796, 9)

In [ ]:
tweet_final.head()

,tweetUrl,date,content,tweetId,userId,mentionedUsers,coordinates,lat,long
1,https://twitter.com/SharrodSharrod7/status/135...,2021-01-31 23:59:54+00:00,I highly recommend cooking Sunday dinner while...,1.356029e+18,479760616,NaN,{'_type': 'snscrape.modules.twitter.Coordinate...,40.683935,-74.026675
2,https://twitter.com/JPBGerald/status/135602947...,2021-01-31 23:59:54+00:00,@TrijiconMan Pretty sure they're still funny a...,1.356029e+18,23435297,"[{'_type': 'snscrape.modules.twitter.User', 'u...",{'_type': 'snscrape.modules.twitter.Coordinate...,40.541722,-73.962582
6,https://twitter.com/511NY/status/1356029429798...,2021-01-31 23:59:44+00:00,Cleared: Construction on #JLine Both direction...,1.356029e+18,50706690,NaN,{'_type': 'snscrape.modules.twitter.Coordinate...,40.718315,-73.987437
7,https://twitter.com/azu_musa/status/1356029425...,2021-01-31 23:59:43+00:00,"Monkey the cat aka “the anti-dodo” @ Brooklyn,...",1.356029e+18,465220100,NaN,{'_type': 'snscrape.modules.twitter.Coordinate...,40.650000,-73.950000
8,https://twitter.com/QueenSarahSatur/status/135...,2021-01-31 23:59:42+00:00,and a very light dusting of pedostache. Which ...,1.356029e+18,17843715,NaN,{'_type': 'snscrape.modules.twitter.Coordinate...,40.570842,-74.041878

In [ ]:
tweets_file = "Final_Tweets_2M.csv"

In [ ]:
tweet_final.to_csv(tweets_file, index=None)

In [ ]:
from google.colab import files

In [ ]:
files.download(tweets_file)